@forward "globals";
@use "./globals/colors" as colors;
@forward "./util";
@use "./util";
@forward "components";

.main {
  .icon {
    position: relative;
    margin-left: 8px;
    margin-right: 0px;
    font-size: 4.125rem;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    padding-top: 1px;
    -webkit-font-smoothing: antialiased;
    font-family: DelinoIcon !important;
  }

  .icon::before {
    content: "";
  }
}
// // =====

// .container {
//   position: relative;
//   width: 100%;
//   min-height: 100vh;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background-color: colors.$pink;

//   // Delino Icons
//   .kaKzwq {
//     position: relative;
//     font-size: 1.1875rem;
//   }

//   .kaKzwq::before {
//     content: "";
//   }

//   .icon {
//     font-size: 5rem;
//     display: inline-block;
//     margin-bottom: 10px;
//     color: rgb(204, 204, 204);
//   }

//   .icon {
//     font-style: normal;
//     font-weight: normal;
//     font-variant: normal;
//     text-transform: none;
//     line-height: 1;
//     vertical-align: middle;
//     padding-top: 1px;
//     -webkit-font-smoothing: antialiased;
//     font-family: DelinoIcon !important;
//   }

//   button {
//     background-color: #fff;
//     border: none;
//     cursor: pointer;
//     padding: 10px;

//     &:hover {
//       background: #cfcfcf;
//     }
//   }

//   // Popup Modules
//   .popup-box {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100vh;
//     display: none;
//     align-items: center;
//     justify-content: center;
//     flex-flow: column nowrap;
//     text-align: center;
//     z-index: 1000000;

//     .exit {
//       position: absolute;
//       top: 38%;
//       left: 64%;
//       transform: translate(-50%, -50%);
//       -webkit-transform: translate(-50%, -50%);
//       -moz-transform: translate(-50%, -50%);
//       -ms-transform: translate(-50%, -50%);
//       -o-transform: translate(-50%, -50%);
//       cursor: pointer;
//       padding: 10px;
//       &:hover {
//         background-color: #dedede;
//       }
//     }

//     h1,
//     p {
//       margin-top: 0;
//       color: #000;
//     }

//     &::before {
//       content: "";
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       min-height: 100vh;
//       background-color: #000000;
//       opacity: 0.6;
//       z-index: -1;
//     }

//     &::after {
//       content: "";
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       transform: translate(-50%, -50%);
//       width: 500px;
//       min-height: 200px;
//       background-color: #fff;
//       z-index: -1;
//       -webkit-transform: translate(-50%, -50%);
//       -moz-transform: translate(-50%, -50%);
//       -ms-transform: translate(-50%, -50%);
//       -o-transform: translate(-50%, -50%);
//     }
//   }
// }
