@use "../util/index" as util;

.main {
  // Main Style ========================
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;

  // Main Banner ========================
  &__banner {
    position: relative;
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../assets/images/banner-img.jpg");
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column nowrap;
    z-index: 0;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.6;
      z-index: 1;
    }

    // Main Banner Header =======================
    &__header {
      width: calc(100% - 60px);
      display: flex;
      align-items: end;
      justify-content: center;
      flex-flow: column nowrap;
      color: #fff;
      z-index: 2;

      h1,
      p {
        margin-right: 0;
        margin-left: 0;
      }

      h1 {
        font-size: 2em;
        margin-bottom: 5px;
      }

      p {
        font-size: 0.9em;
        font-weight: 800;
        margin-top: 0px;
      }

      @include util.breakpoint-up(large) {
        max-width: 1400px;
      }

      @include util.breakpoint-down(medium) {
        align-items: center;
        h1 {
          font-size: 1.5em;
          margin-bottom: 5px;
        }

        p {
          font-size: 0.76em;
          text-align: center;
        }
      }

      // Banner Header Button =======
      button {
        position: relative;
        padding: 8px;
        padding-left: 40px;
        font-size: 0.8em;
        font-family: IRANSans, Tahoma, sans-serif;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        //BannerHeaderButtonIcon=======
        .icon {
          position: absolute;
          top: 10px;
          left: 5px;
          margin-left: 8px;
          margin-right: 0px;
          font-size: 1.1em;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          vertical-align: middle;
          padding-top: 1px;
          -webkit-font-smoothing: antialiased;
          font-family: DelinoIcon !important;
        }
        .icon::before {
          content: "";
        }
      }
    }

    // Main Banner Status ========================
    &__status {
      width: calc(100% - 60px);
      display: flex;
      align-items: center;
      justify-content: end;
      flex-flow: row-reverse nowrap;
      color: #fff;
      z-index: 2;

      @include util.breakpoint-up(large) {
        max-width: 1400px;
      }

      &__box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row nowrap;
        margin-bottom: 20px;

        p {
          font-size: 0.6em;
        }

        .status__circle {
          position: relative;
          width: 20px;
          height: 20px;
          margin-left: 10px;
          opacity: 0.55;
          background-color: #1eff0091;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          z-index: 3;

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 12px;
            height: 12px;
            display: block;
            // opacity: ;
            background-color: #22f706b9;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            z-index: 4;
            -webkit-box-shadow: 0 0 10px 10px #38383869;
            box-shadow: 0 0 10px 10px #00000059;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
          }
          /*@keyframes duration|easing-function|delay|iteration-count|direction|fill-mode|play-state|name*/
          animation: 2s linear 0s infinite alternate online;
          -webkit-animation: 1s linear 0s infinite alternate online;

          @keyframes online {
            0% {
              opacity: 0;
            }

            25% {
              opacity: 0.25;
            }

            50% {
              opacity: 0.55;
            }

            75% {
              opacity: 0.25;
            }

            100% {
              opacity: 0;
            }
          }
        }
        .red {
          display: none;
          background-color: #be0000;
          animation: none;
          -webkit-animation: none;
          opacity: 1;

          &::before {
            content: "";
            background-color: #be0000;
          }
        }
      }
    }
  }

  // Main Conntet ========================
  &__content {
    // width: 1400px;
    max-width: min(1400px);
    min-height: 80vh;
    margin: 20px;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-flow: row nowrap;

    // Main Items =====================
    &__items {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row wrap;

      // Navbar Content
      &__navbar {
        width: 100%;
        nav {
          position: relative;
          width: 100%;

          // Menu
          ul {
            width: 100%;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-flow: row nowrap;

            a {
              padding: 10px 15px;
              font-size: 14px;
              text-decoration: none;
              color: var(--black-two);
              border: 1px solid transparent;
              &:hover {
                color: var(--button-bg-color);
              }
            }

            .active {
              padding: 10px 15px;
              color: var(--black-two);
              background-color: var(--white-bg-color);
              border-left: 1px solid var(--first-border-color);
              border-top: 1px solid var(--first-border-color);
              border-right: 1px solid var(--first-border-color);
              border-bottom: var(--white-bg-color);
              text-decoration: none;
              z-index: 99999;
            }
          }

          // Items Of Navbar
          .foods-type {
            position: static;
            top: 0;
            width: 100%;
            // height: 114px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: row nowrap;
            border: 1px solid var(--first-border-color);
            background-color: var(--white-bg-color);
            // overflow: scroll;

            .foods-type-items {
              padding: 20px 0;
              // height: 114px;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-flow: column nowrap;
              cursor: pointer;

              .type-img {
                width: 40px;
                height: 40px;
                display: inline-block;
                vertical-align: middle;
                background-size: 40px 40px;
                margin-bottom: 10px;
                transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;
                background-image: url("../../assets/images/type-piko.png");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
              }

              .type {
                p {
                  font-size: 14px;
                  color: var(--black-two);
                }
              }
            }
          }
        }
      }

      // Center Content
      &__center {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;

        &__box--types {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-flow: column wrap;
          background-color: #fff;

          // Top Item
          .top {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-flow: row wrap;

            .share-button {
              width: 40px;
              height: 40px;
              text-align: center;
              margin-right: 10px;
              font-size: 12px;
              font-weight: 800;
              background-color: #b1b1b1;
              border: none;
              color: #ffffff;
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
              cursor: pointer;
            }

            .title {
              font-size: 20px;
              color: #696969;
            }
          }

          // Inner Item
          .inner {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: row wrap;
            gap: 10px;

            .box {
              position: relative;
              width: 312px;
              height: 280px;
              margin: 15px 0;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              flex-flow: column nowrap;
              transition: display 1.5s ease;
              -webkit-transition: display 1.5s ease;
              -moz-transition: display 1.5s ease;
              -ms-transition: display 1.5s ease;
              -o-transition: display 1.5s ease;
              border: 1px solid var(--gray-one);
              border-top: none;

              .box-image {
                position: relative;
                width: 312px;
                height: 200px;
                background-color: #b1b1b1;
                background-image: url("../../assets/images/14sh3bo1.5hx_560x350.jpg");
                background-position: center;
                background-size: cover;
                transition: all 0.4s ease;
                -webkit-transition: all 0.4s ease;
                -moz-transition: all 0.4s ease;
                -ms-transition: all 0.4s ease;
                -o-transition: all 0.4s ease;
                .overlay {
                  position: relative;
                  width: 100%;
                  height: 100%;
                  padding: 10px;
                  text-align: right;
                  margin: 0;
                  visibility: hidden;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background-color: #fff;
                  opacity: 0;
                  transition: all 0.4s ease;
                  -webkit-transition: all 0.4s ease;
                  -moz-transition: all 0.4s ease;
                  -ms-transition: all 0.4s ease;
                  -o-transition: all 0.4s ease;
                  text-align: right;
                  font-size: 12px;

                  p {
                    padding: 0;
                    margin: 0;
                    font-weight: 500;
                    font-size: 13px;
                    text-align: right;
                  }
                }

                &:hover > .overlay {
                  visibility: visible;
                  opacity: 0.9;
                }
              }
            }
          }
        }
      }
    }

    // Main Content SideBar ========================
    &__sidebar {
      width: 30%;
      min-height: inherit;
      display: flex;
      align-items: start;
      justify-content: center;

      @include util.breakpoint-down(large) {
        display: none;
      }

      &__cart {
        position: relative;
        width: 400px;
        height: 250px;
        background-color: var(--white-bg-color);
        border: 1px solid var(--first-border-color);
        box-sizing: border-box;

        &__title {
          position: absolute;
          width: 100%;
          border-bottom: 1px solid var(--first-border-color);

          P {
            margin: 5px 10px;
            text-align: right;
          }
        }

        &__items {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          &__nothing {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column nowrap;

            span {
              color: var(--gray-one);
            }
          }
        }
      }

      .icon {
        position: relative;
        margin-left: 8px;
        margin-right: 0px;
        margin-bottom: 20px;
        color: var(--gray-one);
        font-size: 5.125rem;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        vertical-align: middle;
        padding-top: 1px;
        -webkit-font-smoothing: antialiased;
        font-family: DelinoIcon !important;
      }

      .icon::before {
        content: "";
        color: var(--gray-one);
      }
    }
  }
}
