@use "../util/index" as util;

.main {
  // Main Style ========================
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;

  // Main Banner ========================
  &__banner {
    position: relative;
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../assets/images/banner-img.jpg");
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column nowrap;
    z-index: 0;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.6;
      z-index: 1;
    }

    // Main Banner Header =======================
    &__header {
      width: calc(100% - 60px);
      padding-right: 30px;
      display: flex;
      align-items: end;
      justify-content: center;
      flex-flow: column nowrap;
      color: #fff;
      z-index: 2;

      h1,
      p {
        margin-right: 0;
        margin-left: 0;
      }

      h1 {
        font-size: 2em;
        margin-bottom: 5px;
      }

      p {
        font-size: 0.9em;
        font-weight: 800;
        margin-top: 0px;
      }

      @include util.breakpoint-up(large) {
        max-width: 1400px;
      }

      @include util.breakpoint-down(medium) {
        align-items: center;
        h1 {
          font-size: 1.5em;
          margin-bottom: 5px;
        }

        p {
          font-size: 0.76em;
          text-align: center;
        }
      }

      // Banner Header Button =======
      button {
        position: relative;
        padding: 8px;
        padding-left: 40px;
        font-size: 0.8em;
        font-family: IRANSans, Tahoma, sans-serif;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        //BannerHeaderButtonIcon=======
        .icon {
          position: absolute;
          top: 10px;
          left: 5px;
          margin-left: 8px;
          margin-right: 0px;
          font-size: 1.1em;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          vertical-align: middle;
          padding-top: 1px;
          -webkit-font-smoothing: antialiased;
          font-family: DelinoIcon !important;
        }
        .icon::before {
          content: "";
        }
      }
    }

    // Main Banner Status ========================
    &__status {
      width: calc(100% - 60px);
      padding-right: 30px;
      display: flex;
      align-items: center;
      justify-content: end;
      flex-flow: row-reverse nowrap;
      color: #fff;
      z-index: 2;

      @include util.breakpoint-up(large) {
        max-width: 1400px;
      }

      &__box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row nowrap;
        margin-bottom: 20px;

        p {
          font-size: 0.6em;
        }

        .status__circle {
          position: relative;
          width: 20px;
          height: 20px;
          margin-left: 10px;
          opacity: 0.55;
          background-color: #1eff0091;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          z-index: 3;

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 12px;
            height: 12px;
            display: block;
            // opacity: ;
            background-color: #22f706b9;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            z-index: 4;
            -webkit-box-shadow: 0 0 10px 10px #38383869;
            box-shadow: 0 0 10px 10px #00000059;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
          }
          /*@keyframes duration|easing-function|delay|iteration-count|direction|fill-mode|play-state|name*/
          animation: 2s linear 0s infinite alternate online;
          -webkit-animation: 1s linear 0s infinite alternate online;

          @keyframes online {
            0% {
              opacity: 0;
            }

            25% {
              opacity: 0.25;
            }

            50% {
              opacity: 0.55;
            }

            75% {
              opacity: 0.25;
            }

            100% {
              opacity: 0;
            }
          }
        }
        .red {
          display: none;
          background-color: #be0000;
          animation: none;
          -webkit-animation: none;
          opacity: 1;

          &::before {
            content: "";
            background-color: #be0000;
          }
        }
      }
    }
  }

  // Main Conntet ========================
  &__content {
    max-width: min(1400px);
    min-height: 80vh;
    margin: 20px;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    gap: 10px;

    &__navbar {
      display: none;
    }

    &__items {
      width: 70%;
      // padding: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row wrap;
      background-color: #cecece;
      gap: 15px;

      &__box {
        display: inline-block;
        width: 300px;
        height: 300px;
        margin: 15px 0;
        background-color: #b1b1b1;
      }
    }
    // Main Content SideBar ========================
    &__sidebar {
      width: 30%;
      min-height: inherit;
      display: flex;
      align-items: start;
      justify-content: center;

      @include util.breakpoint-down(large) {
        display: none;
      }

      &__cart {
        position: relative;
        width: 400px;
        height: 250px;
        background-color: #dbdbdb;
        border: 1px solid #9e9e9e;
        box-sizing: border-box;

        &__title {
          position: absolute;
          width: 100%;
          border-bottom: 1px solid #9e9e9e;

          P {
            margin: 5px 10px;
            text-align: right;
          }
        }

        &__items {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          &__nothing {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column nowrap;

            span {
              color: #9e9e9e;
            }
          }
        }
      }

      .icon {
        position: relative;
        margin-left: 8px;
        margin-right: 0px;
        color: #9e9e9e;
        font-size: 5.125rem;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        vertical-align: middle;
        padding-top: 1px;
        -webkit-font-smoothing: antialiased;
        font-family: DelinoIcon !important;
      }

      .icon::before {
        content: "";
        color: #9e9e9e;
      }
    }
  }
}
