// Colors
$pink: #d5abab;

:root {
  width: 100%;
  // Background Colors
  --button-bgc-color: rgb(255, 102, 0);
  --primary-bg-color: hsl(210, 20%, 98%);
  --white-bg-color: hsl(0, 0%, 100%);

  // Border Colors
  --first-border-color: hsl(0, 0%, 89%);

  // Colors
  --gray-one: hsl(0, 0%, 80%);
  --black-one: hsl(0, 0%, 0%);
  --black-two: hsl(0, 0%, 20%);
}
