// Colors
$color-primary: #d5abab;

// reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// main

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 100px;
  height: 100px;
  background-color: $color-primary;
}
